@{
    ViewBag.Title = "MyVinyl Home";
}
<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">
<head>
    <meta charset="utf-8">
    <title>Luther</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/vendor.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
</head>
<body id="top">
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <div class="s-pagewrap">
        <div class="circles">
            <span></span><span></span><span></span><span></span><span></span>
        </div>
        <main class="s-content">
            <section id="intro" class="s-intro target-section">

                <div class="row intro-content wide">

                    <div class="column">
                        <div class="text-pretitle with-line">
                            WELCOME TO
                        </div>

                        <h1 class="text-huge-title">
                            MyVinyl <br />
                            online shop
                           
                        </h1>
                    </div>

                </div>

                <a href="#about" class="intro-scrolldown smoothscroll">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z" /></svg>
                </a>

            </section> 
            <section id="about" class="s-about target-section">
                <div class="row about-info wide" data-animate-block>

                    <div class="column lg-6 md-12 about-info__pic-block">
                        <img src="~/Images/vinyl1-removebg-preview.png" />
                        
                    </div>

                    <div class="column lg-6 md-12">
                        <div class="about-info__text">

                          
                            <p class="attention-getter" data-animate-el>

                                Browse your favorite <b>vinyls</b> and purchase them for a low price.

                            </p>
                            <a href="~/Vinyls" class="btn btn--medium u-fullwidth" data-animate-el>BROWSE</a>
                        </div>
                    </div>
                </div>
            <section id="works" class="s-works target-section">
                <div class="row works-portfolio">
                    <div class="column lg-12" data-animate-block>

                        <p class="h1" data-animate-el>
                            "Steve Jobs was a digital pioneer, but when he went home, he listened to <b>vinyl</b>."
                            - N. Young
                        </p>

                    </div>
                </div>
            </section>

        </main> 
        <footer class="s-footer">

            <div class="row">
                <div class="column ss-copyright">
                    <span>© Copyright Luther 2021</span>
                    <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                    <span>MyVinyl Online Shop</span>
                </div>

            </div>

        </footer>

    </div>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/main.js"></script>

</body>
</html>