@model IEnumerable<MyVinylShop.Models.Year>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-shadow:2px 2px #ffffff">Browse Vinyls by Year</h2>


<table class="table" id="album">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YearName)
            </th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.YearName) <br />
                    @Html.ActionLink("Show vinyls", "VinylsByYear", new { year = item.YearName })
                </td>
                
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/Scripts/App/VinylScript.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#album").dataTable();
        });

    </script>
}
