@model IEnumerable<MyVinylShop.Models.Artist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-shadow:2px 2px #ffffff">Browse Vinyls by Artist</h2>


<table class="table" id="album">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                    <br />
                    @Html.ActionLink("Show vinyls", "VinylsByArtist", new { artist = item.ArtistName })
                </td>
                <td>
                    <img src="@item.Description" style="max-width:200px" />
                </td>
                
            </tr>
        }
    </tbody>

</table>


@section Scripts{
    <script src="~/Scripts/App/VinylScript.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#album").dataTable();
        });

    </script>
}
